<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dkzy.areaparty.phone">

    <uses-sdk tools:overrideLibrary="com.linsh.utilseverywhere" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.setting.permission.ALLSHARE_CAST_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- begin: baidu speech sdk  权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- end: baidu speech sdk  权限 -->
    <!--
    离线功能即离线命令词及唤醒词功能开启需要正式授权，正式授权完全由SDK自动管理：
    1. 在百度语音开放平台注册应用，http://yuyin.baidu.com/app
    2. 给在百度语音开放平台注册应用绑定包名。本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看。
    3. 在当前应用的AndroidManifest.xml中填写相应的APP_ID API_KEY SECRET_KEY
    4. 首次使用联网。正式授权目前有效期三年，三年之后的最后一个月尝试更新正式授权。
    另外需要注意的是优先在线识别，即离线命令词识别功能在在线（包括2G网络）的情况下自动不启用。。
    -->
    <!--
    再次重复！！填写APP_ID 时请检查在官网的该应用内是否设置了正确包名。否则会导致唤醒词及离线功能无法使用。
     本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看。
     如果遇见“app name unknown"的错误， 极可能为包名设置错误
    -->
    <application
        android:name=".myapplication.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="AreaParty"
        android:persistent="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true"
        tools:replace="android:icon, android:label,android:theme">
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11093043" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="bnRH7Tvc913OfO3vpirWHq1N" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="fWCYpKGXidnHcoqsKOt6KQgDT0DgolHb" />
        <!-- 请确认集成后的包名是否正确，本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看 -->
        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <activity
            android:name=".Login"
            android:alwaysRetainTaskState="true"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|navigation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.computerMonitorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.computerSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.exeContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.PCDevicesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.TVDevicesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.PCFileSysActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.setting.SettingMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.setting.SettingNameActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.setting.SettingPwdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.setting.SettingAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.start.StartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.hdhome.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.hdhome.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.hdhome.IndexMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.hdhome.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.hdhome.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.web1080.RemoteDownloadActivity"
            android:label="种子管理"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.web1080.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.websitemanager.web1080.PtTorrentManagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.sharedFileIntentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.downloadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.downloadedPicBrowseActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".fragment01.diskContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.diskTVContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.videoLibActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.audioLibActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.imageLibActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.recentVideosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.recentAudiosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.audioSetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.imageSetActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.imageSetContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.audioSetContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment03.pcAppHelpActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".fragment03.pcGameHelpActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".fragment03.pcUsingHelpActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".fragment03.tvInforActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".fragment03.pcInforActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".fragment03.uninstallTVAppActivity"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".fragment03.pcAppMiracastActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginSetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment05.phoneVIPAppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment06.chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment06.fileList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment06.searchFriend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment06.dealFriendRequest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment06.sortFIleList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment06.HistoryMsg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment06.downloadManager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment06.dealFileRequest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".register.RegisterFinish"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".register.RegisterUserInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".register.RegisterPersonalInfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bluetoothxie.KeyboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bluetoothxie.BluetoothKeyboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bluetoothxie.ComputerBluetooth"
            android:configChanges="keyboard|navigation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bluetoothxie.PCBluetoothSet"
            android:configChanges="keyboard|navigation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bluetoothxie.TVBluetoothSet"
            android:configChanges="keyboard|navigation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".MyService" />
        <service
            android:name=".fragment05.accessible_service.AutoLoginService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_login_service" />
        </service>

        <activity
            android:name=".AlertAccreditActivity"
            android:theme="@style/AlertActivityStyle" />
        <activity
            android:name=".AlertRequestActivity"
            android:theme="@style/AlertActivityStyle" />
        <activity
            android:name=".fragment02.vedioPlayControl"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.utorrent.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.utorrent.UTorrentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.utorrent.UTFileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.utorrent.TorrentFileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.PCNASFileSysActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment01.PCTVFileSysActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment02.searchContent.SearchMediaActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".fragment01.websitemanager.start.AutoLoginHelperActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WakeUp.ActivityMiniWakeUp" />
        <activity android:name=".WakeUp.ActivityMiniRecog" />
    </application>

</manifest>